:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

body {
  background: var(--greyLight-1);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: var(--primary);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

h3 {
  color: var(--primary);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
  inset -0.2rem -0.2rem 0.5rem var(--white);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container-fluid {
  background: var(--greyLight-1);
}

.header-section {
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.header-content {
  border-radius: 2rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  margin: 2rem;
  padding: 1rem;
}

.dice-button {
  align-items: center;
}

.dice-section {
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  padding: 4rem;
  align-items: center;
  margin-bottom: 3rem;
}

.player-card {
  border-radius: 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  margin: 2rem 0;
  padding: 2rem;
}

.player-card-header {
  margin: 2rem 0;
  padding: 2rem;
}

.dice {
  color: #5b0eeb;
}

.player-card-heading {
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  font-size: 1.6rem;
}

.btn__secondary {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  color: var(--greyDark);
}

.btn__secondary:hover {
  color: var(--primary);
}

.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

a {
  color: var(--greyDark);
}

a:hover {
  color: var(--primary);
}

p {
  color: var(--greyDark);
}

div.text {
  background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
  background-size: 300%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 15s ease-in-out infinite;
  -moz-animation: flow 15s ease-in-out infinite;
  -webkit-animation: flow 15s ease-in-out infinite;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
